/* h1 {
    color: skyblue;
}

nav {
    color: black;
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */